<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">Loading &hellip;</div>
    <script src="/javascript/build.js"></script>
  </body>
</html>
